{% extends 'base.html.twig' %}

{% block title %}Lista de préstamos{% endblock %}

{% block body %}
<h1>Lista de préstamos</h1>

{# Mostrar mensajes flash si existen #}
{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">{{ flash_message }}</div>
{% endfor %}
{% for flash_message in app.flashes('error') %}
    <div class="alert alert-danger">{{ flash_message }}</div>
{% endfor %}

<div class="input-group mb-3">
    <form id="addPrestamoForm" class="input-group mb-3">
        <input type="text" name="student" class="form-control" required placeholder="Cédula del estudiante" aria-label="Cédula del estudiante" id="studentCedulaInput" required>
        <input type="text" name="book" class="form-control" required placeholder="Título del libro" aria-label="Título del libro" id="bookTitleInput" required>
        <div id="bookSuggestions" class="list-group position-absolute w-100"></div>
        <input type="date" name="fechaPrestamo" class="form-control" required placeholder="Fecha de préstamo" aria-label="Fecha de préstamo" id="fechaPrestamoInput" required>
        <button type="submit" class="btn btn-success">Agregar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Estudiante</th>
            <th>Libro</th>
            <th>Fecha de Préstamo</th>
            <th>Fecha de Devolución</th>
            <th>Acciones</th> <!-- Columna de acciones -->
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('peticiones') }}
    {{ encore_entry_script_tags('prestamos') }}
{% endblock %}