{% extends 'base.html.twig' %}

{% block title %}{{ editMode is defined ? 'Editar Libro' : 'Agregar Libro' }}{% endblock %}

{% block body %}
<h1>{{ editMode is defined ? 'Editar Libro' : 'Agregar Libro' }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">{{ editMode is defined ? 'Actualizar' : 'Guardar' }}</button>
{{ form_end(form) }}

<a href="{{ path('app_books_list') }}" class="btn btn-secondary mt-2">Volver a la lista</a>
{% endblock %}
