<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    {% if app.user %}
    <!-- Mostrar el asider solo después de iniciar sesión -->
    <aside>
        <ul>
            <li><a href="{{ path('app_home') }}">Menú</a></li>
            <li><a href="{{ path('app_students_list') }}">Estudiantes</a></li>
            <li><a href="{{ path('app_books_list') }}">Libros</a></li>
            <li><a href="{{ path('app_prestamo') }}">Préstamos</a></li>
            <li><a href="{{ path('app_prestamos_activos') }}">Préstamos Activos</a></li>
            <li><a href="{{ path('app_historial_devoluciones') }}">Historial de Devoluciones</a></li>
            <li><a href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
        </ul>
    </aside>
    {% endif %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block javascripts %}
        <!-- Aquí puedes agregar los scripts comunes si es necesario -->
    {% endblock %}
</body>
</html>
