<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<script src="{{ asset('js/generos.js') }}"></script>

<body>
    {% if app.user %}
    <!-- Mostrar el asider solo después de iniciar sesión -->
    <aside>
        <ul>
            <li><a href="{{ path('app_home') }}">Menú</a></li>
            <li><a href="{{ path('app_students_list') }}">Estudiantes</a></li>
            <!-- Libros con menú desplegable -->
           <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="librosDropdown" role="button">
                 Libros
              </a>
               <ul class="dropdown-menu" id="generosLista" style="display: none;">
                 <!-- Se llenará dinámicamente con AJAX -->
               </ul>
            </li>
            <li><a href="{{ path('app_prestamo') }}">Préstamos</a></li>
            <li><a href="{{ path('app_prestamos_activos') }}">Préstamos activos</a></li>
            <li><a href="{{ path('app_historial_devoluciones') }}">Historial de devoluciones</a></li>
            <li><a href="{{ path('app_logout') }}">Cerrar sesión</a></li>
        </ul>
    </aside>
    {% endif %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block javascripts %}
        <!-- Aquí puedes agregar los scripts comunes si es necesario -->
    {% endblock %}
</body>
</html>
